test --test_output=errors --action_env="GTEST_COLOR=1"

# Force bazel output to use colors (good for jenkins) and print useful errors.
common --color=yes


build --define planner_rules_mcts=true --define ltl_rules=true --cxxopt='-std=c++14' --local_ram_resources=HOST_RAM*.4 --local_cpu_resources=2